<div class="centered centered-50">
  <h2><%= @team.name %></h2>
  <p class="team description"><%= team_description_for(@team) %></p>
  <table class="table team-members-list">
    <% @team.members.all.each do |member| %>
      <tr>
        <td class="team-members-avatar"><%= avatar(member.user) %></td>
        <td>
            <%= link_to member.user.username, main_app.overview_path(:user => member.user.username) %>
            <span class="description"><%= member.user.name %></span>
        </td>
        <td>
          <%= link_to "Remove", main_app.team_team_member_path(:user => @team.project.user.username, :key => @team.project.key, :team_id => @team.id, :id => member.id), :method => :delete %>
        </td>
      </li>
    <% end %>
  </table>
  <%= simple_form_for @team.members.build, :validate => true, :url => main_app.team_team_members_path(:user => @team.project.user.username, :key => @team.project.key, :team_id => @team.id) do |f| %>
    <%= f.association :user, :as => :suggest, :url => main_app.suggest_user_team_path(:user => @team.project.user.username, :key => @team.project.key, :id => @team.id) %>
    <%= f.button :submit, :class => "btn btn-small" %>
  <% end %>
</div>
