<div class="span6 offset3 well">
<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <%= f.input :login, :required => true, :autofocus => true %>

  <%= f.button :submit, "Resend confirmation instructions", :class => "btn" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
