<div class="span6 offset3 well">
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
  <%= f.error_notification %>

  <%= f.input :username, :required => true, :autofocus => true, :label => false, :placeholder => "Pick a username" %>
  <%= f.input :email, :required => true, :label => false, :placeholder => "Your E-Mail" %>
  <%= f.input :password, :required => true, :label => false, :placeholder => "Create a password" %>

  <%= f.button :submit, "Sign up for free", :class => "btn btn-success" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
