<% projects = current_user.projects %>
<%= cache ["v5", current_user, "issue", "dialog", projects.cache_key] do %>
  <div id="issue_dialog" class="modal hide fade issue-dialog" tabindex="-1" role="dialog">
    <%= simple_form_for(@issue, :url => main_app.issues_path, :validate => true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create Issue</h3>
      </div>
      <div class="modal-body">
        <%= f.input :project_id do %>
          <%= f.select :project_id, projects.all.map { |x| [x.name, x.id, { :"data-key" => x.key }] }, :include_blank => true %>
        <% end %>
        <%= f.input :summary %>
        <%= f.association :issue_type %>
        <%= f.association :issue_priority %>
        <%= f.input :description, :hint => t("hints.markdown_enabled") %>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
