<div class="span3">
  <div class="well">
    <% cache ["v4", "view", @issue, "sidebar"] do %>
      <%= render_cell :pod, :collapsable, t("pod.titles.people") do |cell| %>
        <% cell.content = render :partial => 'people', :locals => { :issue => @issue } %>
      <% end %>

      <%= render_cell :pod, :collapsable, t("pod.titles.dates") do |cell| %>
        <% cell.content = render :partial => 'dates', :locals => { :issue => @issue } %>
      <% end %>

      <%= render_cell :pod, :collapsable, t("pod.titles.workflow") do |cell| %>
        <% cell.content = render :partial => 'workflow', :locals => { :issue => @issue } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="span9">
  <% cache ["v16", "view", @issue, can_edit?] do %>
    <div class="options">
      <% if can_edit? %>
      <%= link_to t("actions.edit"), main_app.edit_issue_path(:user => @issue.project.user.username, :key => @issue.project.key, :id => @issue.number), :class => 'btn btn-small' %>
      <div class="btn-group">
        <%= default_action(@issue) %>
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @issue.state_transitions.each do |transition| %>
            <li><%= link_to I18n.t("states.transitions.#{transition.event}"), main_app.workflow_issue_path(:user => @issue.project.user.username, :key => @issue.project.key, :id => @issue.number, :transition => transition.event) %></li>
          <% end %>
        </ul>
      </div>
      <%= link_to t("actions.assign_to_me"), main_app.assign_to_me_issue_path(:user => @issue.project.user.username, :key => @issue.project.key, :id => @issue.number), :class => 'btn btn-small', :method => :post %>
      <% end %>
    </div>

    <div class="well">
    <h2 class="issue-summary">
      <%= render_cell :votes, :show, @issue,
                      :upvote_path   => upvote_issue_path(:user => @issue.project.user.username, :key => @issue.project.key, :id => @issue.number),
                      :downvote_path => downvote_issue_path(:user => @issue.project.user.username, :key => @issue.project.key, :id => @issue.number) if current_user %>

      <%= best_in_place_if can_edit?, @issue, :summary, :path => path_to_issue(@issue) %>
    </h2>
    <%= best_in_place_if(can_edit?, @issue, :description, :path => path_to_issue(@issue), :type => :textarea, :display_as => :description_markdown) %>
    <p class="tag-list">
      <%= issue_type(@issue) %>
      <%= issue_priority(@issue) %>
      <%= issue_label(Issue.human_attribute_name(:estimate), @issue.estimate) if @issue.estimate %>

      <% @issue.labels.each do |label| %>
        <%= tag_for_label(label) %>
      <% end %>
    </p>

      <%= render :partial => "tabs", :locals => { :issue => @issue } %>
  <% end %>
</div>
