<% if @sprint %>
  <div class="options">
    <%= link_to "Finish", finish_sprint_path(:user => @sprint.project.user.username, :key => @sprint.project.key, :id => @sprint.id), :class => "btn btn-small", :confirm => "Are you sure you wish to finish your sprint?", :method => :put, :data => { :"confirm-title" => "Finish sprint #{@sprint.name}", :"confirm-proceed" => "Finish", :"confirm-proceed-class" => "btn-success" } %>
    <div class="pull-right">
      <%= content_tag :span, "#{@project.current_sprint.start_date.to_formatted_s(:short)} - #{@project.current_sprint.end_date.to_formatted_s(:short)}" %> | 
      <%= link_to "View Burn Down", burn_down_reports_path(:user => @sprint.project.user.username, :key => @sprint.project.key) %>
    </div>
  </div>

  <div class="board">
    <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <h3>To Do</h3>
        <ul class="work-items sortable connected">
          <%= render :partial => 'sprints/work_item', :collection => @sprint.issues.to_do %>
        </ul>
        <div class="board-drag-information">
          You can drag issues into the area above to perform a workflow transition.
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        <h3>In Progress</h3>
        <ul class="work-items sortable connected">
          <%= render :partial => 'sprints/work_item', :collection => @sprint.issues.in_progress %>
        </ul>
        <div class="board-drag-information">
          You can drag issues into the area above to perform a workflow transition.
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        <h3>Done</h3>
        <ul class="work-items sortable connected">
          <%= render :partial => 'sprints/work_item', :collection => @sprint.issues.closed %>
        </ul>
        <div class="board-drag-information">
          You can drag issues into the this area to perform a workflow transition.
        </div>
      </div>
    </div>
    </div>
  </div>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      <div class="well centered">
        <p>There is currently no active sprint.</p>
      </div>
    </div>
  </div>
<% end %>
