<div class="span6 offset3 well">
<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :login, :required => false, :autofocus => true %>
  <%= f.input :password, :required => false %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

  <%= f.button :submit, "Sign in", :class => "btn" %>
<% end %>

or <%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %>

<%= render "devise/shared/links" %>
</div>
