<ul class="nav">
  <% if @project && @project.key %>
    <li><%= link_to "Backlog", main_app.issues_path(:user => @project.user.username, :key => @project.key) %></li>
    <li><%= link_to "Sprints", main_app.sprints_path(:user => @project.user.username, :key => @project.key) if is_collaborator? %></li>
    <li><%= link_to "Admin", main_app.admin_project_path(:user => @project.user.username, :key => @project.key), :class => 'admin-link' if @project.user == current_user %></li>
  <% end %>
</ul>

<ul class="nav pull-right">
  <li>
    <%= link_to "New Project", tyne_core.new_project_path, :class => "new-project-link" %>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user_dropdown">
      <%= avatar(current_user) %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Logout", main_app.logout_path, :method => :delete %></li>
    </ul>
  </li>
</ul>
